<%- include('partials/header'); -%>
<form>
    <label for="password">Current password</label>
    <input type="password" name="password" required />
    <div class="password_error"></div>
    <label for="password">New password</label>
    <input type="password" name="new_password" required />
    <div class="mismatch_error"></div>
    <label for="password">Confirm password</label>
    <input type="password" name="confirm_new_password" required />
    <button>Confirm Change Password</button>
</form>

<script>
    //const User = require('../models/User');
    const form = document.querySelector('form');
    const passwordError = document.querySelector('.password_error');
    const mismatch_error = document.querySelector('.mismatch_error');

    console.log("hiiii");

    form.addEventListener('submit', async (e) => {
        e.preventDefault();
        passwordError.textContent = "";
        mismatch_error.textContent = "";

        //reset error fields
        // emailError.textContent = "";
        // passwordError.textContent = "";

        //console.log(res.locals.user.email);

        //getting the values
        const password = form.password.value;
        const new_password = form.new_password.value;
        const confirm_new_password = form.confirm_new_password.value;
        if (new_password != confirm_new_password) {
            mismatch_error.textContent = "password and confirm password do not match";
            return false;
        }
        if (JSON.stringify(new_password).length-2 < 6) {
            mismatch_error.textContent = "password should be at least 6 characters long";
            return false;
        }
        // const id = user.id;
        //console.log(password);
        
        // const email = form.email.value;
        // const password = form.password.value;

        try{
            //todo: needs work!!!
            console.log("##1##");
            const result = await fetch('/change_password', {
                method: 'POST',
                body: JSON.stringify({ password: password, newPassword: new_password }),
                headers: { 'Content-Type': 'application/json' }  
            });
            console.log("##2##");
            const data = await result.json();
            console.log("#####", data);

            if (data.errors) {
                // emailError.textContent = data.errors.email;
                passwordError.textContent = data.errors.password;
            }

            if (data["updated"] === "yes") {
                
                //location.assign('/');
                alert("Your password has been updated.");
                auto_login(new_password, data.id);

            }

        }catch(err){
            console.log("#####", err);
        }
    });

    async function auto_login(new_password, id){
        alert("hhahaha: "+ id);
        try{
            const result = await fetch('/auto_login', {
              method: 'POST',
              body: JSON.stringify({ id, new_password }),
              headers: { 'Content-Type': 'application/json' }  
            });
            const data = await result.json();

            if (data.errors) {
                //emailError.textContent = data.errors.email;
                //passwordError.textContent = data.errors.password;
            }


            if (data.user) {
                console.log("data returned from autologin post req is OK");
                // location.assign('/');
                location.assign('/');
            }

        }catch(err){
            console.log(err);
        }
    }
</script>

<%- include('partials/footer'); -%>