<%- include('partials/header'); -%>

<header>
  <div class="product">
    <img src="/products_logo.png" alt="">
  </div>
  <div class="headings">
    <h2>Products</h2>
    <h3>Slave Branch created on 19/09/2020, 8:28 pm</h3>
    <h3>Where you find the best...</h3>
    <a href="/products" class="btn">Buy Products</a>
    <a href="/sell_products" class="btn">Sell Products</a>
    <a href="/order_history" class="btn">Order History</a>
  </div>
</header>


<%- include('partials/footer'); -%>