<%- include('partials/header'); -%>

<header>
  <div class="product">
    <img src="/products_logo.png" alt="">
  </div>
  <div class="headings">
    <h2>Products</h2>
    <h3>Slave Branch created on 19/09/2020 time: 20:26</h3>
    <h3>Where you find the best...</h3>
    <a href="/products" class="btn">View Products</a>
  </div>
</header>


<%- include('partials/footer'); -%>