<%- include('partials/header'); -%>

<ul class="about_products">
  <li class="description">
    <img src="/smartphones.png" alt="smartphones icon">
    <h4>Smartphones</h4>
    <p>Find the latest and popular smartphones and tablets...</p>
  </li>
  <li class="description">
    <img src="/electronic_products.png" alt="electronic_products icon">
    <h4>Electronics</h4>
    <p>TVs, monitors, power banks, etc</p>
  </li>
  <li class="description">
    <img src="/clothing.png" alt="clothing icon">
    <h4>Clothing</h4>
    <p>Comfort, formal, informal...</p>
  </li>
  <li class="description">
    <img src="/home_appliances_products.png" alt="home_appliances_products icon">
    <h4>Home appliances</h4>
    <p>refrigerators, washing machines, ACs, vacuums...</p>
  </li>
  <li class="description">
    <img src="/personal_care_products.png" alt="personal_care_products icon">
    <h4>Personal Care</h4>
    <p>Lotions, shampoos, creams, tampons...</p>
  </li>
  <li class="description">
    <img src="/food_items.png" alt="food_items icon">
    <h4>Food Delivery</h4>
    <p>Burgers, pizzas, fries, traditional dishes...</p>
  </li>
</ul>

<%- include('partials/footer'); -%>

<!-- <ul class="recipes">
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Banana Boost</h4>
    <p>Banana, Vanilla ice cream, Milk</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Tropical Twist</h4>
    <p>Peach, Pinapple, Apple juice</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Protein Packer</h4>
    <p>Oats, Peanut butter, Milk, Banana, Blueberries</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Banana Boost</h4>
    <p>Banana, Vanilla ice cream, Milk</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Tropical Twist</h4>
    <p>Peach, Pinapple, Apple juice</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Protein Packer</h4>
    <p>Oats, Peanut butter, Milk, Banana, Blueberries</p>
  </li>
</ul> -->